[user]
	name = Andrzej Telszewski
[alias]
	create-initial-commit = commit --allow-empty -m \"Create repository (initial empty commit)\"
[color]
	ui = auto
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
